.git
.gitignore

*.log

.env
.env.*

.cache
.tmp

.vscode
.idea

node_modules
README.md
CHANGELOG.md
.github
.husky
lefthook.yml

tsconfig.json
tsconfig.*.json
biome.json
vitest.config.ts

src
test
*.test.ts
*.spec.ts

!bun.lockb
!dist